body {
    background-color: #500b3a;
    font-family: 'Lobster', cursive;
    color: #e6d646;
}

.heading {
    font-size: 2rem;
    margin: auto;
    text-align: center;
}

.table {
    width: 50%;
    margin: auto;
    text-align: center;
}

button {
    width: 40px;
    height: 40px;
    background-color: #e6d646;
    color: #580b3f;
    border: transparent;
    font-family: 'Lobster', cursive;
    margin: 5px 0px 0px 0px;
}

.done {
    width: 40px;
    height: 40px;
    margin: 5px 0px 0px 0px;
}

button:disabled {
    width: 40px;
    height: 40px;
    background-color: rgb(35, 8, 65);
    color: rgb(255, 255, 255);
    margin: 5px 0px 0px 0px;
}
