.table{
    margin:auto;
    margin-top: 140px;
    text-align: center;
    width: 50%;
}
button{
    width:40px;
    height: 40px;
    background-color: brown;
    border-color: white;
    color: white;
    margin: 0px 0px 0px 0px;
    
}
.done{
    background-color: aquamarine;
    color: black;
    width:40px;
    height: 40px;
    border-color: white;
    margin: 0px 0px 0px 0px;

}
button:disabled{
    width:40px;
    height: 40px;
    background-color: rgb(42, 65, 165);
    border-color: white;
    color: white;
    margin: 0px 0px 0px 0px;
    
}